


/* Pokemon Card */

.pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.pokemonContainer h1{
    margin: 0;
    font-weight: 500;
}

.screen
{
    margin: 10px;
    height: 100%;
    width: 300px;
    padding: 0 20px;
    background-color: #b0b0b0;
    float:left;
    position: relative;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    
}

.screen:after
{
    content: "";
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.picture
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    margin-bottom: 9px;
    background-color: #fff;
    clear: both;
    position: relative;
    top: 0;
    box-sizing: border-box;
    background-image: radial-gradient(#11581E, #041607);
    background-repeat: repeat;
    background-size: cover;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    
}

.picture img
{
    display: block;
    margin: 0 auto;
    max-width: 280px;
    max-height: 250px;
    margin: auto;
    padding: 10px 0;
    display: inline-block;
}

.topPicture
{
    margin: 6px auto;
    width: 40px;
}

.buttontopPicture1, .buttontopPicture2
{
    height: 8px;
    width: 8px;
    margin: 5px 0;
    background-color: #494949;
    border: 1px solid #000;
    float: left;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
}

.buttontopPicture1
{
    margin-right: 20px;
}

.buttonbottomPicture
{
    height: 26px;
    font-weight: bold;
    margin-left: 30px;
    float: left;
    border-radius: 30px;
    border: none;


}
.buttonbottomPicture:hover
{
    cursor: pointer;
}
.catched{
    color: #194400;
    box-shadow: -2px 1px #5e5d00;
    -webkit-box-shadow: -2px 1px #5e5d00;

    background: linear-gradient(top, #6f9700 0%, #889700 80%);	
    background: -webkit-linear-gradient(top, #6f9700 0%, #889700 80%);

}

.release{
    color: #3b0000;
    box-shadow: -2px 1px #5e0000;
    -webkit-box-shadow: -2px 1px #5e0000;

    background: linear-gradient(top, #c00d0d 0%, #8b0000 80%);	
    background: -webkit-linear-gradient(top, #c00d0d 0%, #8b0000 80%);
}
.buttonbottomPicture:active {
    -webkit-box-shadow: inset 6px 5px 4px -2px rgba(0,0,0,0.49); 
    box-shadow: inset 6px 5px 4px -2px rgba(0,0,0,0.49);
    transform: translateY(2px);
}

.speakers
{
    float: right;
    width: 75px;
    height: 25px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.sp
{
    height: 3px;
    margin-bottom: 5px;
    background-color: #494949;

    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
}



.pokemonNameContainer {
    width: 100%;        
    height: 100px; 
    position: relative;
    top: 40px;
}
  
.pokemonNameContainer:before {
    content: "";
    position: absolute;
    left: 0;
    background-color: #4d4d4d;
    width: 100%;        
    height: 42px; 
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.45); 
    box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.45);
}

.pokemonNameContainer h1{
    position: absolute;
    color: #b6b6b6;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0%);
    margin: auto;
}

.customBox {
    position: absolute;
    text-align: center;
    padding: 10px;
    width: fit-content;
    margin: auto;
    box-sizing: border-box;
    background-image: radial-gradient(#11581E, #041607), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Inconsolata', Helvetica, sans-serif;
    font-size: 1.5rem;
    color: rgba(128, 255, 128, 0.8);
    text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, 0.8);
    outline: 10px solid #007700;
    margin-bottom: 20px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal button{
    margin: auto 10px;
    background: none;
    border: none;
    color: rgba(63, 185, 63, 0.8);
    text-shadow: 0 0 1ex rgb(37, 187, 37), 0 0 2px rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    font-size: 24px;
    cursor: pointer;
    transition: 200ms ease-in;
}

.modal button:hover{
    color: rgba(128, 255, 128, 0.8);
    text-shadow: 0 0 1ex rgb(0, 255, 0), 0 0 2px rgba(255, 255, 255, 0.8);

}

