.coverContainer{
    height: 275px;
}
.coverContainer h1, .coverContainer p {
    color: white;
    padding: 20px 0 0 0;
}
.infos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-shadow: 2px 2px 3px #9A9A9A;
    color: white;
    height: 175px;
}
.infos h1 {
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    padding: 0;
}
.infos h3 {
    font-size: 28px;
}
.coverContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.infos button
{
    height: 26px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
}
.infos button:hover
{
    cursor: pointer;
}
.infos .catched{
    color: #194400;
    box-shadow: -2px 1px #5e5d00;
    -webkit-box-shadow: -2px 1px #5e5d00;
    -moz-box-shadow: -2px 1px #5e5d00;
    -o-box-shadow: -2px 1px #5e5d00;

    background: linear-gradient(top, #6f9700 0%, #889700 80%);	
    background: -webkit-linear-gradient(top, #6f9700 0%, #889700 80%);
    background: -moz-linear-gradient(top, #6f9700 0%, #889700 80%);
    background: -o-linear-gradient(top, #6f9700 0%, #889700 80%);

}

.infos .release{
    color: #7a0101;
    box-shadow: -2px 1px #c00d0d;
    -webkit-box-shadow: -2px 1px #c00d0d;
    -moz-box-shadow: -2px 1px #c00d0d;
    -o-box-shadow: -2px 1px #c00d0d;

    background: linear-gradient(top, #c00d0d 0%, #f15368 80%);	
    background: -webkit-linear-gradient(top, #c00d0d 0%, #f15368 80%);
    background: -moz-linear-gradient(top, #c00d0d 0%, #f15368 80%);
    background: -o-linear-gradient(top, #c00d0d 0%, #f15368 80%);
}
.infos button:active {
    -webkit-box-shadow: inset 6px 5px 4px -2px rgba(0,0,0,0.49); 
    box-shadow: inset 6px 5px 4px -2px rgba(0,0,0,0.49);
    transform: translateY(2px);
}

.type{
    background-color: #f15368;
    text-align: center;
    padding: 5px 10px 7px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 27px -2px rgba(255,255,255,0.5); 
    box-shadow: 0px 0px 27px -2px rgba(255,255,255,0.5);
    text-shadow: none;

}
.coverContent img {
    position: relative;
    top: -10px;
    width: 200;
    height: 200px;
    animation: pokemon 1s infinite alternate;
    transition: 1s;
}
@media (max-width: 471px) {
    .coverContent img {
        transition: 1s;
        width: 175px;
        height: 175px;
    }
}

@keyframes pokemon {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-30px);
  }
}
/* Pokemon Description */
.descriptionsContainer{
    background-color: antiquewhite;
    width: 40%;
}
.descriptionsContainer ul{
    margin: 0;
    padding: 0;
}
.descriptionsContainer ul li {
    background-color: antiquewhite;
    list-style: none;
    padding: 10px 15px;
    border: 1px solid #161616;
}
@media (max-width: 370px) {

    .descriptionsContainer{
        width: 90%;
    }
    
}
/* Pokemon Profile */
.tablesContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

tr {
    background-color: antiquewhite;
}
th, td{
    text-align: left;  
    padding: 20px;
    text-transform: capitalize;
}

td{
    min-width: 380px;
}

@media (max-width: 370px) {
    .tablesContainer table{
        width: 90%!important;
    }
    td{
        min-width: 200px;
    }
    th{
        padding: 10px;
    }
    
}

/* Pokemon Stats */

.wrapper{
    width: 40%;
    font-family: 'Roboto', sans-serif;
    margin:0 auto;
}
.skill {
    color: aliceblue;
    margin-bottom: 35px;
    position: relative;
    overflow-x:hidden;
}
.skill > p {
    font-size: 18px;
    font-weight: 700;
    color: aliceblue;
    margin: 0;
}
.skill:before{
    width: 100%;
    height: 10px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}
.skillBar {
    width: 100%;
    height: 10px;
    border-radius: 0 10px 10px 0;
    display: block;
    position: relative;
}

/* SKILL 1 */
.skill1{
    background:#7AC74C;
        
}
.skillBar span{
    position: absolute;
    border-top: 5px solid #f4392f;
    top: -30px;
    margin-right: 5px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}
.skillBar {
    position: relative;
        
}

.skill1 .skillCount1 {
    right: 0;
}
/* SKILL 2 */
.skill2{
    background:#f4392f;
}

.skill2 .skillCount2 {
    right: 0;
}
/* SKILL 3 */
.skill3{
    background:#6390F0;
}
.skill3 .skillCount3 {
    right: 0;
}

/* SKILL 4 */
.skill4{
    background:#F7D02C;
}

.skill4 .skillCount4 {
    right: 0;
}

/* SKILL 5 */
.skill5{
    background:#EE8130;
}

.skill5 .skillCount5 {
    right: 0;
}

/* SKILL 6 */
.skill6{
    background:#A33EA1;
}

.skill6 .skillCount6 {
    right: 0;
}
@media (max-width: 450px) {

    .wrapper{
        width: 90%;
    }
    
}

/* Pokemon Evolution */

.evolutionContainer,.from, .to{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.evolutionContainer img{
    width: 255px;
}
.from, .to{
    flex-direction: column;
    text-transform: uppercase;
}
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 50px;
}
.arrow img{
    width: 200px;
    margin: 30px 0;
}

@media (max-width: 840px) {

    .evolutionContainer{
        flex-direction: column;
    }
    .arrow {
        transform: rotate(90deg);
    }
}