@import 'https://fonts.googleapis.com/css?family=Inconsolata';


.formContainer, .pokedexTitleContainer{
    top: 0;
    left: 50%;
    transform: translate(-50%,0%);
    height: 70px;
    width: 300px;
    position: sticky;
    transition: all 1s;
    box-sizing: border-box;
    background-image: radial-gradient(#11581E, #041607), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Inconsolata', Helvetica, sans-serif;
    font-size: 1.5rem;
    color: rgba(128, 255, 128, 0.8);
    text-shadow: 0 0 1ex #3f3, 0 0 2px rgba(255, 255, 255, 0.8);
    outline: 10px solid #007700;
    margin-bottom: 20px;
}
.noise {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 70px;
  background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: repeat-x;
  background-size: cover;
  z-index: -1;
  opacity: 0.05;
}
.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 1;
}
.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, transparent 0%, rgba(32, 128, 32, 0.2) 2%, rgba(32, 128, 32, 0.8) 3%, rgba(32, 128, 32, 0.2) 3%, transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite;
}
@keyframes scan {
  0% {
    background-position: 0 -100vh;
  }
  35%, 100% {
    background-position: 0 100vh;
  }
}
.terminal {
  box-sizing: inherit;
  position: absolute;
  top: 0;
  height: 70px;
  width: 100%;
  max-width: 100%;
  text-transform: uppercase;
}
.terminal span{
    padding-left: 10px;   
}
.pokedexTerminal span{
    position: relative;
    top: 20px;
}
.output {
  color: rgba(128, 255, 128, 0.8);
  text-shadow: 0 0 1px rgba(51, 255, 51, 0.4), 0 0 2px rgba(255, 255, 255, 0.8);
}

.searchInput {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    height: 40px;
    color: rgba(192, 255, 192, 0.8);
    text-shadow:
    0 0 1px rgba(51, 255, 51, 0.4),
    0 0 2px rgba(255, 255, 255, 0.8);
    outline: 0;
    border: 0;
    font-size: 22px;
    cursor: pointer;
    padding: 0 15px;

}

.errorcode {
  color: white;
}


form, .pokedexTerminalContainer{
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
    transition: all 1s;
    width: 40%;
    min-width: 300px;
    height: 70px;
    box-sizing: border-box;

    margin: 10px 0;
}
