.coverContainer{
    background: #f15368;
    height: 275px;
}
.coverContainer h1, .coverContainer p {
    text-align: center;
    color: white;
    padding: 20px 0 0 0;
}

.coverContainer h1 {
    font-size: 36px;
    text-transform: uppercase;
}

.coverContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.coverContent img {
    width: 300px;
    height: 300px;
    margin: 10px 0 0 0;
    animation: pokemon 1s infinite alternate;
    transition: 1s;
}
@media (max-width: 471px) {
    .coverContent img {
        transition: 1s;
        width: 200px;
        height: 200px;
    }
}

@keyframes pokemon {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateX(0);
  }
}

/* Pokemon Profile */
.tablesContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

tr {
    background-color: antiquewhite;
}

th, td{
    text-align: left;  
    padding: 20px;
}

td{
    min-width: 400px;
}
.abilities, .eggGroups{
    text-transform: capitalize;
}
@media (max-width: 370px) {

    td{
        min-width: 200px;
    }
    
}

/* Pokemon Stats */

.wrapper{
    width: 40%;
    font-family: 'Roboto', sans-serif;
    margin:0 auto;
}
.skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x:hidden;
}
.skill > p {
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
}
.skill:before{
    width: 100%;
    height: 10px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}
.skillBar {
    width: 100%;
    height: 10px;
    border-radius: 0 10px 10px 0;
    display: block;
    position: relative;
}

/* SKILL 1 */
.skill1{
    background:#2ff488;
        
}
.skillBar span{
    position: absolute;
    border-top: 5px solid #f4392f;
    top: -30px;
    margin-right: 5px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}
.skillBar {
    position: relative;
        
}

.skill1 .skillCount1 {
    right: 0;
}
/* SKILL 2 */
.skill2{
    background:#f4392f;
}

.skill2 .skillCount2 {
    right: 0;
}
/* SKILL 3 */
.skill3{
    background:#2f74f4;
}
.skill3 .skillCount3 {
    right: 0;
}

/* SKILL 4 */
.skill4{
    background:#f4d02f;
}

.skill4 .skillCount4 {
    right: 0;
}

/* SKILL 5 */
.skill5{
    background:#f42fa2;
}

.skill5 .skillCount5 {
    right: 0;
}

/* SKILL 6 */
.skill6{
    background:#ac2ff4;
}

.skill6 .skillCount6 {
    right: 0;
}
@media (max-width: 450px) {

    .wrapper{
        width: 90%;
    }
    
}

/* Pokemon Evolution */

.evolutionContainer,.from, .to{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.evolutionContainer img{
    width: 255px;
}
.from, .to{
    flex-direction: column;
    text-transform: uppercase;
}
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 50px;
}
.arrow img{
    width: 200px;
    margin: 30px 0;
}

@media (max-width: 840px) {

    .evolutionContainer{
        flex-direction: column;
    }
    .arrow {
        transform: rotate(90deg);
    }
}